OPENBADGER_COLLECTOR_NAME=collector-site-a
OPENBADGER_COLLECTOR_SERVER_URL=http://host.docker.internal:8080
OPENBADGER_COLLECTOR_SITE_ID=site-a
OPENBADGER_COLLECTOR_ENROLLMENT_TOKEN=replace-with-bootstrap-token
OPENBADGER_COLLECTOR_STATE_PATH=/var/lib/openbadger/collector-state.json
OPENBADGER_COLLECTOR_HEARTBEAT_INTERVAL=30s
